@tailwind base;
@tailwind components;
@tailwind utilities;

option {
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

option::-webkit-scrollbar {
  width: 12px;
  /* Width of the entire scrollbar */
}

/* Handle */
option::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar handle */
  border-radius: 6px;
  /* Rounded corners */
}

/* Handle on hover */
option::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color of the scrollbar handle on hover */
}